---
layout: page
title: 'Lesson Material'
---

<!-- Lesson section -->
<p> Visit our <a href='https://www.youtube.com/channel/UCfGUFz6EG5gBfRt8-du0jaA'><strong>Youtube channel</strong></a> to view recordings of previous sessions.</p>
<div class="container">
<div class="row">
<div class="col-sm-6">
<h2>By Topic</h2>
{% for lang in site.languages %}
<h3>{{ lang | capitalize }}</h3>

<ul>
  {% assign pages_list = site.pages | sort: 'title' %}
  {% for node in pages_list %}
    {% if node.title != null %}
      {% if node.visible == true %}
        {% if node.tags contains lang %}
          <li><a href="{{ site.github.url | replace:'http:','https:' }}{{ node.url }}">{{ node.title }}</a></li>
        {% endif %}
      {% endif %}
    {% endif %}
  {% endfor %}  <!-- node -->
</ul>
{% endfor %}  <!-- lang -->
</div>

<div class="col-sm-6">
<h2>By Level</h2>
{% for level in site.levels %}
<h3>{{ level | capitalize }}</h3>

<ul>
  {% assign pages_list = site.pages | sort: 'title' %}
  {% for node in pages_list %}
    {% if node.title != null %}
      {% if node.visible == true %}
        {% if node.tags contains level %}
          <li><a href="{{ site.github.url | replace:'http:','https:' }}{{ node.url }}">{{ node.title }}</a></li>
        {% endif %}
      {% endif %}
    {% endif %}
  {% endfor %}  <!-- node -->
</ul>
{% endfor %}  <!-- level -->
</div>
</div>
</div>
