body {
    background: #112
}
#content {
    display: flex;
    flex-direction: column;
}
#content.horizontal {
    flex-direction: row;
    overflow: scroll;
}
section.slide {
    font-size: 1.5em;
    padding: 2rem;
    background: #eef;
    margin: 1rem;
    margin-top: 0;
    min-width: 50%;
}
#content.show-all .slide {
    display: block;
    margin-top: 1rem;
}
#content .slide {
    display: none;
}
#content .slide.shown {
    display: block;
}

section.slide > p:first-child {
    color: #777;
    font-size: large;
    margin: -1rem;
}
section.slide h1 {
    margin: -1rem;
}

nav {
    display: flex;
    flex-direction: row nowrap;
    justify-content: center;
    align-content: center;
    background: #eef;
    margin: 1rem;
    padding: 1rem;
    margin-bottom: 0;
    position: relative;
    box-shadow: 0 .2rem .2rem .2rem rgba(0,0,0,.2);
    border-radius: .5rem .5rem 0 0;
}

nav button {
    box-sizing: border-box;
    height: 2em;
    border-radius: 2em;
    background: #333;
    color: #eee;
    padding-left: 1em;
    padding-right: 1em;
    width: auto;
    height: 2em;
    border: 3px solid #333;
    line-height: 1.5;
    margin-left: .2em;
    margin-right: .2em;
}
    
nav button.dot {
    width: 2em;     
    padding: 0;     
    background-image: radial-gradient(circle, #919396, #919396 40%, #fff 50%, #fff);     
    color: #000;     
    border: solid 3px #fff;
}

nav button.dot.shown {
    border-color: #0ea;
}
nav button.dot:hover {
    border-color: #333;
}

img {
    /* max-height: 12em; */
    width: 100%;
}

figure {
    margin: 0;
    margin-left: 1em;
    float: right;
    width: 50%;
}

figcaption {
    font-size: .7em;
}

pre {
    margin: .5em 2em;
    padding: .5em;
    background: white;
}

code {
    background: white;
    color: #600;
}
pre code {
    color: black;
}

ul ul li:last-child {
    margin-bottom: .3em;
}

