<section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Come Say Hi</h2>
                    <h3 class="section-subheading text-muted">We use GitHub to get coding help, talk about events and share files. Join us there!</h3>
                </div>
            </div>
            <div class="row">
                  <div class="col-lg-12 text-center">
                      <a href="https://github.com/billsTestOrg/studyGroup/issues" class="page-scroll btn btn-xl">Talk About Code</a>
                      <a href="{{ '.github.io/studyGroup/' | prepend: site.user | prepend: 'http://' }}/issues" class="page-scroll btn btn-xl">Talk About our Group</a>
                  </div>
            </div>
        </div>
    </section>
