<section id="events">
        <div class="container">
            <div class="row">
                    <h2 class="section-heading">{{site.data[site.language].linksHeading}}</h2>
                    <h3 class="section-subheading text-muted">{{site.data[site.language].linksSubheading}}</h3>
                </div>
            </div>
             <div class="row">
                  <div class="col-lg-12 text-center">
	    <a class='eventTitle' href="http://www.datacarpentry.org">Data Carpentry</a>
          <div class='eventSub'>Introductory lessons on data organization and visualization for research.</div>
          <a class='eventTitle' href="https://software-carpentry.org/lessons/">Software Carpentry</a>
          <div class='eventSub'>Introductory lessons on various topics in computing for research.</div>
          <a class='eventTitle' href="https://aci.wisc.edu">Advanced Computing Initiative</a>
          <div class='eventSub'>Support for shared computing resources at UW-Madison.</div>
          <a class='eventTitle' href="https://at.doit.wisc.edu/training/software-training-for-students/">UW-Madison DoIT Software Training for Students</a>
          <div class='eventSub'>UW-Madison Division of Information Services offers Software Training for Students on a variety of introductory topics. </div>
          <a class='eventTitle' href="https://www.biotech.wisc.edu/services/brc">Bioinformatics Resource Center</a>
          <div class='eventSub'>The BRC is a resource within the UW Biotechnology Center that assists researchers with their data analysis needs.</div>
          <a class='eventTitle' href="https://qbi.wisc.edu/">Quantitative Biology Initiative</a>
          <div class='eventSub'>QBI hosts interdisciplinary seminars relavent to computational, statistical, and quantitative biology. </div>
          <a class='eventTitle'
             href="https://cci.wisc.edu">Campus Computing Infrastructure</a>
          <div class='eventSub'>Delivers shared, scalable IT infrastructure services for server hosting, storage, and backup.</div>
	 <a class='eventTitle'
	    href="http://chtc.cs.wisc.edu">Center for High Throughput Computing</a>
	 <div class='eventSub'>Supports scalable computing resources and services for the UW System.</div>
      </ul>
    </div>
  </div>
</section>