<!-- Events Grid Section -->
    <section id="events" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Events</h2>
                    <h3 class="section-subheading text-muted">
		      
		      Unless otherwise stated, <b> all our events are open to everyone </b> (i.e. no registration necessary, just show up!) and are held in MADLab at 
			    <a href="https://www.google.ca/maps/place/Gerstein+Science+Information+Centre/@43.662195,-79.3961537,17z/data=!3m1!4b1!4m5!3m4!1s0x882b34b854ad5761:0xd4cee6c2ece27846!8m2!3d43.662195!4d-79.393965?dcr=0">
                                               Gerstein Science Information Centre</a>, which is room B112 at the south end of the first lower level.
						 Go through the main entrance of Gerstein, take a right turn down a corridor (across from the admin desk or just past the reading room), then take the stairs down and follow the signs to MADLab, the door should be open 10-15 minutes before each session.
                      A list of all previous events and sessions can be found on the <a href="{{ site.github.url | replace:'http:','https:' }}/past-events/">"Past Events" page</a>.
                    </h3>
                </div>
            </div>
            <div class="col-lg-12">
              <ul class='events'>
              {% assign isEvent = 0 %}
              {% for post in site.posts reversed %}
                {% capture nowyear %}{{'now' | date: '%Y'}}{% endcapture %}
                {% capture postyear %}{{post.date | date: '%Y'}}{% endcapture %}
                {% capture nowday %}{{'now' | date: '%j'}}{% endcapture %}
                {% capture postday %}{{post.date | date: '%j'}}{% endcapture %}
                {% assign postday = postday | plus: 0 %}
                {% assign nowday = nowday | minus: 2 %}
                {% if postyear > nowyear or postday >= nowday and postyear >= nowyear %}
                  {% assign isEvent = 1 %}
                  <li>
                      <a class='eventTitle' href="{{ post.link }}">{{ post.title }} </a>
                      <div class='eventSub'><strong>{{ post.date | date: "%-d %B %Y"}}, {{ post.startTime | date:"%I:%M %p" }}, {{ post.location }}</strong><br>{{ post.text }}</div>
                  </li>
                {% endif %}
              {% endfor %}
              {% if isEvent == 0 %}
                <a class='eventTitle' href="{{ site.github.issues_url }}">Nothing yet! Propose an event here.</a>
              {% else %}
              <div class="row">
                    <div class="col-lg-12 text-center">
                        <a href="{{ site.github.owner_url }}/Events/issues" class="btn btn-xl eventSuggest">Suggest an Event</a>
                        <a href="{{ site.github.url }}/CONTRIBUTING" class="btn btn-xl eventSuggest">How to Lead a Session</a>
                    </div>
              </div>
              {% endif %}
              </ul>
            </div>
            {% if site.calendar_on %}
            <div class="col-lg-6">
            {% else %}
            <div class="col-lg-12">
            {% endif %}
              <h3 class="section-heading eventInstructions">Want to be notified of our upcoming events?</h3>
              <h3 class="section-subheading text-muted eventSubinstructions">Head over to <a href="{{ site.github.owner_url }}/Events">GitHub</a> and watch our repository, like this:</h3>
              <figure>
                <img src="https://help.github.com/assets/images/help/notifications/watch-repository.png" width="80%"></img>
                <figcaption>Look in the top right-hand corner of <a href="{{ site.github.owner_url }}/Events">our repo</a>, and click 'Watching.' <br>You can undo this at any time in the same place.</figcaption>
              </figure>
            </div>
            {% if site.calendar_on %}
            <div class="col-lg-6">
              <h3 class="section-heading eventInstructions">Subscribe to our events calendar!</h3>
              <h3 class="section-subheading text-muted eventSubinstructions">We also invite you to follow <a href="{{ site.calendar_embed_url }}" target="_blank">our calendar</a>, where events will be posted. </h3>
              <h3 class="section-subheading text-muted eventSubinstructions">If you use Google calendar, you can add our calendar by pressing the "Google Calendar" button at the bottom-right of <a href="{{ site.calendar_embed_url }}" target="_blank">this page</a>.</h3>
              <h3 class="section-subheading text-muted eventSubinstructions">If you use another calendar app, you can copy and paste <a href="{{ site.calendar_ical_url }}">this address</a> into any calendar product that supports the iCal format.</h3>
            </div>
            {% endif %}
        </div>
    </section>
