<!-- Portfolio Grid Section -->
    <section id="portfolio" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Upcoming Events</h2>
                </div>
            </div>
            <div class="col-lg-12">
              <ul class='events'>
              {% assign isEvent = 0 %}
              {% for post in site.posts reversed %}
                {% capture nowyear %}{{'now' | date: '%Y'}}{% endcapture %}
                {% capture postyear %}{{post.date | date: '%Y'}}{% endcapture %}
                {% capture nowmonth %}{{'now' | date: '%m'}}{% endcapture %}
                {% capture postmonth %}{{post.date | date: '%m'}}{% endcapture %}
                {% capture nowday %}{{'now' | date: '%j'}}{% endcapture %}
                {% capture postday %}{{post.date | date: '%j'}}{% endcapture %}
                {% if postyear >= nowyear and postmonth >= nowmonth and postday >= nowday %}
                  {% assign isEvent = 1 %}
                  <li>
                    <a class='eventTitle' href="{{ post.link }}">{{ post.title }}</a>
                    <div class='eventSub'>{{ post.date | date: "%B %-d, %Y"}} at {{ post.time }} — {{ post.location }}</div>
                    <div class='eventText'>{{ post.text }}</div>
                  </li>
                {% endif %}
              {% endfor %}
              </ul>
            </div>
        </div>
        <br>
        <hr>
        <br>
        <br>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Past Events</h2>
                </div>
            </div>
            <div class="col-lg-12">
              <ul class='events'>
              {% assign isEvent = 0 %}
              {% for post in site.posts %}
                {% capture nowyear %}{{'now' | date: '%Y'}}{% endcapture %}
                {% capture postyear %}{{post.date | date: '%Y'}}{% endcapture %}
                {% capture nowmonth %}{{'now' | date: '%m'}}{% endcapture %}
                {% capture postmonth %}{{post.date | date: '%m'}}{% endcapture %}
                {% capture nowday %}{{'now' | date: '%j'}}{% endcapture %}
                {% capture postday %}{{post.date | date: '%j'}}{% endcapture %}
                {% if postyear <= nowyear and postmonth <= nowmonth and postday <= nowday %}
                  {% assign isEvent = 1 %}
                  <li>
                    <a class='eventTitle' href="{{ post.link }}">{{ post.title }}</a>
                    <div class='eventSub'>{{ post.date | date: "%B %-d, %Y"}} at {{ post.time }} — {{ post.location }}</div>
                    <div class='eventText'>{{ post.text }}</div>
                  </li>
                {% endif %}
              {% endfor %}
              </ul>
            </div>
        </div>
    </section>
