  <footer align="center">
    <div class="container">
      <div class="row" >
        <div class="col-lg-12" style="text-align: center">
          <a href="https://www.physics.utoronto.ca/">
            <img src={{site.base}}"/img/uoftphysics.png" class="img-responsive img-centered" alt="">
          </a>
          <br>
          <!-- <a href="{{ site.github.repository_url }}/blob/gh-pages/codeOfConduct.md">{{site.data[site.language].codeOfConduct}}</a>  -->
          <a href="{{ site.link }}/codeOfConduct.md">{{site.data[site.language].codeOfConduct}}</a>
        </div>
      </div>
    </div>
  </footer>
