<section id="friends-and-resources" class="bg-light-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Friends and Resources</h2>
        <h3 class="section-subheading text-muted">Groups and resources for coding and research</h3>
      </div>
    </div>
    <div class="col-lg-12">
      <ul>
	    <li>
          <a class='eventTitle' href="https://software-carpentry.org/lessons/">Software Carpentry</a>
          <div class='eventSub'>Introductory lessons on various topics in computing for research.</div>
        </li>
		<li>
          <a class='eventTitle' href="http://internetresearchnetwork.org/">Internet Research Network</a>
          <div class='eventSub'>An interdisciplinary network of researchers at UofT studying how the rise of the Internet is changing society, politics and the economy — and vice versa.</div>
        </li>
		<li>
          <a class='eventTitle' href="http://ais.ischool.utoronto.ca/">The University of Toronto Association for Computer Machinery</a>
          <div class='eventSub'>The University of Toronto Association for Computer Machinery Student Chapter, affiliated with the Faculty of Information iSchool. They also host professional and research skills workshops open to people from outside iSchool. </div>
        </li>
        <li>
          <a class='eventTitle' href="https://camh-scwg.github.io/lrn2compute/">Scientific Computing Fundamentals at CAMH</a>
          <div class='eventSub'>This group occasionally has an intensive several days of training in computing skills, for the most part open to UofT graduate students.</div>
        </li>
        <li>
          <a class='eventTitle' href="http://libcal.library.utoronto.ca/calendar/libraryworkshops/">St. George Library Workshops</a>
          <div class='eventSub'>This site (LibCal) often has workshops that teach computing and coding skills. Check often!</div>
        </li>
        <li>
          <a class='eventTitle'
             href="https://www.sgs.utoronto.ca/currentstudents/Pages/Research-Related-Skills-Offerings.aspx">Graduate Professional Skills program</a>
          <div class='eventSub'>Like the LibCal workshops, this program often has workshops that teach computing and coding skills.</div>
        </li>
	<li>
	 <a class='eventTitle'
	    href="http://machinelearning.sitey.me/">University of Toronto Machine Learning Club</a>
	 <div class='eventSub'>Join the Machine Learning Club to work through machine learning tutorials. No pre-requisite knowledge of machine learning is required. The club will aim to encourage students to pursue and also share their interests in the field of data science and machine learning. </div>
      </li>
      </ul>
    </div>
  </div>
</section>
