 <!-- jQuery Version 1.11.0 -->
    <script src="https://{{ site.user }}.github.io/studyGroup/js/jquery-1.11.0.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="https://{{ site.user }}.github.io/studyGroup/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://{{ site.user }}.github.io/studyGroup/js/jquery.easing.min.js"></script>
    <script src="https://{{ site.user }}.github.io/studyGroup/js/classie.js"></script>
    <script src="https://{{ site.user }}.github.io/studyGroup/js/cbpAnimatedHeader.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="https://{{ site.user }}.github.io/studyGroup/js/jqBootstrapValidation.js"></script>
    <script src="https://{{ site.user }}.github.io/studyGroup/js/contact_me.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="https://{{ site.user }}.github.io/studyGroup/js/agency.js"></script>
