<section id="links">
        <div class="container">
            <div class="row text-center">
                    <h2 class="section-heading">{{site.data[site.language].linksHeading}}Links and Useful Resources </h2>
                    <h3 class="section-subheading text-muted">{{site.data[site.language].linksSubheading}}</h3>
                </div>
            </div>
             <div class="row">
          <div class="col-lg-12 text-center">
          
          <a class='eventTitle' href="http://www.datacarpentry.org">Data Carpentry</a>
          <div class='eventSub'>Introductory lessons on data organization and visualization for research.</div>
          <br>

          <a class='eventTitle' href="https://software-carpentry.org/lessons/">Software Carpentry</a>
          <div class='eventSub'>Introductory lessons on various topics in computing for research.</div>
          <br>

          <a class='eventTitle' href="http://sils.uva.nl/content/research-groups/rna-biology--applied-bioinformatics/
          rna-biology--applied-bioinformatics.html">RNA Biology & Applied Bioinformatics.</a>
          <div class="eventSub">Genomics and Expertise Center (SILS, UvA) </div>
          <br>
          
          <a class='eventTitle' href="https://www.surf.nl/en/services-and-products">SURF</a>
          <div class="eventSub">Collaborative organisation for ICT in Dutch education and research </div>
          <br>

          <a class='eventTitle' href="https://www.dtls.nl/">Dutch Techcenter for Life Sciences (DTL)</a>
          <div class="eventSub">Establish an interconnect research infrastructure in a cost-effective manner.</div>
          <br>

          <a class='eventTitle' href="https://github.com/">Github</a>
          <div class="eventSub">A code hosting platform for version control and collaboration</div>
          <br>

          <a class='eventTitle' href="http://journals.plos.org/ploscompbiol/article?id=10.1371/journal.pcbi.1005510">Good practises in scientific computing (Wilson et al., 2017 PLoS Comput. Biol.)</a>
          <div class="eventSub">From the creator of the Software/Data Carpentry Foundation</div>
          <br>
                  
          <a class='eventTitle' href="https://davetang.org/muse/">Dave Tang's blog</a>
          <div class="eventSub">A blog on Computational Biology and Genomics</div>
          <br>


          
      </ul>
    </div>
  </div>
</section>
