<section id="schedule">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">{{site.data[site.language].eventsHeading}}</h2>
                    <h3 class="section-subheading text-muted">{{site.data[site.language].eventsSubheading}}</h3>
                </div>
            </div>
            <div class="row">
                  <div class="col-lg-12 text-center">
                  	<iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=amsterdamscienceparkstudygroup%40gmail.com&amp;color=%231B887A&amp;ctz=Europe%2FAmsterdam" style=border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
                  </div>
            </div>
        </div>
</section>



