<!-- Team Section -->
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Who We Are</h2>
                    <h3 class="section-subheading text-muted">
                        Lorem ipsum dolor sit amet consectetur.
                    </h3>
                </div>
            </div>
            <div class="row">
                {% for member in site.data.members %}
                {% assign loopindex = forloop.index0 | modulo: 4 %}
                {% if loopindex == 0 %}
                {% if forloop.first == false %}
            </div>
                {% if forloop.last == false %}
            <div class="row">
                {% endif %}
                {% endif %}
                {% endif %}
                <div class="col-sm-3">
                    <div class="team-member">
                        {% if member.github %}
                        <img src="https://avatars.githubusercontent.com/{{ member.github }}?s=96" class="img-responsive img-circle" alt="">
                        <h4><a href="https://github.com/{{ member.github }}">{{ member.name }}</a></h4>
                        {% else %}
                        <i class="fa fa-user"></i>
                        <h4>{{ member.name }}</h4>
                        {% endif %}
                        <p class="text-muted"><i>{{ member.degree }}</i></p>
                        {% if member.interests %}
                        Interests:
                        <ul class="list-inline text-muted">
                            {% for interest in member.interests %}
                            <li class="fa fa-angle-right">&nbsp;{{ interest }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
