<!-- What-We-Do Section -->
    <section id="what-we-do">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">What We Do</h2>
                    <h3 class="section-subheading text-muted">and you can too!</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-comment fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="what-we-do-heading">Skill Sharing</h4>
                    <p class="text-muted">Share your favorite coding skills and tools with your friends and colleagues in friendly, no-pressure work-alongs.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="what-we-do-heading">Co-Working</h4>
                    <p class="text-muted">Get together to work on your coding projects, help each other out and share your work.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-group fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="what-we-do-heading">Community Building</h4>
                    <p class="text-muted">Meet new people in your field, organization or community - and find out what we can do when we work together.</p>
                </div>
            </div>
        </div>
    </section>
