.team-member img.img-responsive {
 max-width: 110px;
}
.team-member i.fa {
 font-size: 110px;
}

@media(max-width: 991px) {
  ul.events {
    padding-left: 0;
  }
  figure img {
    max-width: 100%;
  }
  .btn {
    white-space: initial;
  }
}

/* Improve general readability */

section h3.section-subheading {
    line-height: 2;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
    font-style: normal;
}

section#services h3.section-subheading {
	font-size: 1.5em;
    text-align: left;
}

section p.service-text {
	text-align: left;
	font-size: 1.2em;
}

header .intro-text .intro-lead-in {
      text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
      line-height: 1.5em;
}

header .intro-text .intro-heading {
      text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
      line-height: 1.25em;
}

/* Improve formatting of events */

ul.events li {
    margin-bottom: 1.8em;
}

a.eventTitle {
  margin-bottom: 0.3em;
  display: inline-block;
}

.eventSub {
    font-size: 1.2em;
}

.team-member img.img-responsive {
 max-width: 110px;
}

.team-member i.fa {
	font-size: 110px;
}

.eventTitle {
	font-weight: bold;
}

.eventSub {
	margin-bottom: 0.3em;
	margin-left: 0em; 
}

.eventText {
	margin-left: 2em;
	margin-bottom: 1em;
	font-size: 1.2em;
} 	
