.team-member img.img-responsive {
 max-width: 110px;
}
.team-member i.fa {
 font-size: 110px;
}
.site-avatar {
  float: left;
  width: 60px;
  height: auto;
  margin-right: 15px;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }

  img {
    border-radius: 5px;
  }
}

@media(max-width: 991px) {
  ul.events {
    padding-left: 0;
  }
  figure img {
    max-width: 100%;
  }
  .btn {
    white-space: initial;
  }
}

