[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pygithub = "*"
dateparser = "*"
python-frontmatter = "*"
cmarkgfm = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.1"

[scripts]
publish_events = "python publish_events.py ../_posts/ failures.yml"
