<!DOCTYPE html>
<html class="sticky-footer">

  {% include head.html %}

  <body id="page-top" class="index no-header sticky-footer">
   
   <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="{{site.url}}">{{site.title}}</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="{{site.url}}"></a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">{{ site.headlineSmall }}</div>
                <div class="intro-heading">{{ site.headlineMain }}</div>              
            </div>
        </div>
    </header>

   
   
    <div class="content container">
      <div class="page">
        <h1 class="page-title">{{ page.title }}</h1>

        <hr>

        {{ content }}
      </div>
    </div>
    {% include footer.html %}
    {% include js.html %}
  </body>
</html>
